

html, body {
    margin: 0 auto;
    height: 100%;
}

a:hover {
  text-decoration: none;
  background-color: none;
  color: #000;
}
.dropdown-item:hover {
  background-color: #71a812;
}


a {
  color: #219433;
  padding-right: 20px;
  text-decoration: none;
}

.navbar-light .navbar-nav .active>.nav-link {
  color:hotpink;
}

.navbar-brand > img {
  width:200px;
  height:100px;
}
.navbar-light .navbar-nav .nav-link {
  color: #219433;
}

.member-title {
	width: 100%;
  height: 45px;
  background-color: #71a812;
  text-align: center;
}
.member-title h3 {
  padding: 10px 0 0 30px;
  color: #F2F2F2;
}

.textZone {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
  }
  .textZone h3 {
    margin: 20px;
  }
  .textZone p {
    padding: 15px;
  }
  .textZoneImage img {
    max-width: 100%;
    height: auto;
  }
  .textZoneSecondImage img {
    width:250px;
    height: 180px;
    border-radius: 50%;
  }

hr {
  background-color: #71a812;
  height:1px;
  width: 80%;
}


/*Comment box styling*/
.pb-cmnt-container {
 font-family: Lato;
 margin-top: 100px;
 margin-bottom: 20px;
}

.pb-cmnt-textarea {
 resize: none;
 padding: 20px;
 height: 130px;
 width: 100%;
 border: 1px solid #F2F2F2;
}
/*Comment-display box styling*/
.user_name{
 font-size:14px;
 font-weight: bold;
}

.media-left > img {
 width: 30px;
 height: 35px;
 padding: 2px;
}
.comments-list .media{
 border-bottom: 1px dotted #ccc;
 padding: 5px;
}

#comment-display {
  margin-bottom: 10px;
}
/*footer styling*/
.footer {
	width: 100%;
  height: auto;
  background-color: #000;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
}
.footer span{
  border-right: 2px solid #333;
}
.footer a{
  padding: 3px;
  color: #219433;
}
.footer p{
  font-weight: bolder;
}
